<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>

<body>

	<%- include('./includes/header') %>

	<%- include('./includes/menu') %>

	<div class="lauout-main">
		<div class="layout-content">
			<div class="container">

				<div class="archives-list">
					<% let years = []; posts.forEach((item) => { const year = item.date.substring(0, 4); if (!years.includes(year)) { years.push(year); } }); %>
					<% years.forEach(function(year) { %>
					<h3 class="archive-year"><%- year %></h3>
					<% posts.forEach(function(post) { %>
					<%if (post.date.indexOf(year) !== -1) { %>
					<div class="layout-card">
						<div class="card-body">
							<a href="<%= post.link %>" class="card-title col-8">
								<h2>
									<%= post.title %>
								</h2>
							</a>
							<div class="card-mate col-4">
								<span><%= post.dateFormat %></span>
							</div>
						</div>
					</div>
					<% } %>
					<% }); %>
					<% }); %>
				</div>

				<div class="layout-paginator">
					<div class="paginator">

						<% if (pagination.prev) { %>
						<a href="<%= pagination.prev %>" class="btn btn-paginator">上一页</a>
						<% } else { %>
						<a class="btn disabled btn-paginator">上一页</a>
						<% } %>
						<% if (pagination.next) { %>
						<a href="<%= pagination.next %>" class="btn btn-paginator">下一页</a>
						<% } else { %>
						<a class="btn disabled btn-paginator">下一页</a>
						
						<% } %>
					</div>
				</div>

			</div>
		</div>
	</div>


	<%- include('./includes/footer') %>
</body>

</html>